.header {
    top: 0px;
    width: 100%;
    background-color: #004872;
    box-shadow: 0px 0px 6px 0px;
    min-height: 50px;
}
.header-title {
    margin-left: 1%;
    margin-top: 1%;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
}
.video-container {
    margin: 0px 2% 0px 0px;
    background-color: #fafbfc;
    box-shadow: 1px 1px 2px 0px;
    // min-height: 560px;
    
    .breadcrumb-item.in-active {
        a {
            color: #000000;
        }
    }
    .breadcrumb-item.active {
        color: #0870ad;
    }
}