<div class="header">
    <div class="col">
        <div class="row">
            <div class="header-title">
                <span>Videos Location</span>
            </div>
        </div>
    </div>
</div>
<div class="video-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item in-active"><a routerLink="../../home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Video Details</li>
        </ol>
    </nav>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Video Name</th>
                <th scope="col">Video Location</th>
                <!-- <th scope="col">Maintenance</th>
                <th scope="col">Priority</th>
                <th scope="col">Active</th> -->
              </tr>
            </thead>
            <tbody *ngFor="let items of tableData">
              <tr>
                <td> {{ items.index }} </td>
                <td> {{ items.videoName }} </td>
                <td> {{ items.path }} </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>