<!-- toaster message (click)="showFileProgress()" -->
<div class="msg-toastr" toastContainer></div>

<!-- Modal -->
<div class="modal fade profile-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- bindValue="id" -->
        <label>
          <strong>
            Select your active profile
          </strong>
        </label>
        <ng-select [items]="profiles"
                   bindLabel="name"
                   placeholder="Choose profile to set as active"
                   [(ngModel)]="selectedProfile">
        </ng-select>        
      </div>
      <div class="modal-footer">
        <div class="col">
          <div class="row">
            <label>
              <strong>
                Activated Profile:  
              </strong>
            </label>
            <span class="selected-profile-name">
              {{ selectedProfile?.name }}
            </span>
          </div>
        </div>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="header">
  <!-- <span class="header-title"> <strong> AVFS </strong>(Automated Video File Management System)</span> -->
  <div class="col">
    <div class="row">
      <div class="col-10 nav-details">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <!-- <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': selectedTab==1}" data-toggle="tab" (click)="tabSelection(1)">Accounting Software</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': selectedTab==2}" data-toggle="tab" (click)="tabSelection(2)">Progress of Storing Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': selectedTab==3}" data-toggle="tab" (click)="tabSelection(3)">NAS File Structure</a>
          </li>
        </ul>
      </div>

      <!-- Settings Option -->
      <div class="col-2">
        <div class="pull-right setting-btn">
          <!-- <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#settingOptions" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Settings</button> -->
        </div>
      </div>

    </div>
  </div>
</div>

<div class="landing-page">
  <div class="row">    
    <div class="col">

      <div class="nav-details">        
        <!-- Setting's options -->
        <div class="collapse setting-options-details" id="settingOptions">
          <ul class="setting-opts">
            <div class="card card-body">
              <!-- <li routerLink="/video/details"><i class="fa fa-file-video-o" aria-hidden="true"></i> Video Files Location</li> -->
              <li data-toggle="modal" data-backdrop="static" data-target="#exampleModal">Select Profile</li>
            </div>
          </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab 1 -->
          <div class="tab-pane web-app" [ngClass]="{'active': selectedTab==1, 'fade': selectedTab!=1}"><br>
            <div class="row new-window-opts">
              <!-- New window option -->
              <!-- <div class="col-auto">
                <button class="btn btn-primary btn-sm" title="open browser window" (click)="openInBrowser()"><i class="fa fa-external-link" aria-hidden="true"></i> New Window</button>
              </div> -->
              <!-- <div class="col-auto">
                <p>
                  <strong>
                    Client’s Accounting System (will be a web app, can open in an iframe)
                  </strong>
                </p>
              </div> -->
            </div>
            <!-- https://www.wikipedia.org/ -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://10.40.10.11/pushstart/" frameborder="0"></iframe>
            </div>
          </div>
          <!-- Tab 2 -->
          <div class="tab-pane file-progress" [ngClass]="{'active': selectedTab==2, 'fade': selectedTab!=2}"><br>
            <div class="row refresh-opts">
              <div class="col-auto">
                  <!-- <i class="fa fa-refresh" aria-hidden="true" (click)="getFilesStatus()"></i> -->
              </div>
              <div class="col-auto">
                <p>
                  <strong>
                    Progress of Files stored on NAS
                  </strong>
                </p>
              </div>
            </div>
            <!-- card_name percentage {{ i + 1 }} -->
            <div class="col-12 col-sm-12 col-md-12 col-xl-12"> 
              <div class="row" *ngFor="let items of fileProgressData; let i = index">
                <div class="col-2"> SD Card Device {{items.USBDevice + 1}}: </div>
                <div class="col">
                  <progress-bar [progress]="items.Percent" [color]="'#3f6ad8'"></progress-bar>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-2"> SD card 2 progress </div>
                <div class="col">
                  <progress-bar [progress]="60" [color]="'#3f6ad8'"></progress-bar>
                </div>
              </div>

              <div class="row">
                <div class="col-2"> SD card 3 progress </div>
                <div class="col">
                  <progress-bar [progress]="100" [color]="'#3f6ad8'"></progress-bar>
                </div>
              </div> -->

            </div>
          </div>
          <!-- Tab 3 -->
          <div class="tab-pane folder-structure" [ngClass]="{'active': selectedTab==3, 'fade': selectedTab!=3}"><br>

            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link" [ngClass]="{'active': selectedNavPill==1, 'grayFade':selectedNavPill!=1}" (click)="navPillSelection(1)">Standard Videos</a></li>
              <li class="nav-item"><a class="nav-link" [ngClass]="{'active': selectedNavPill==2, 'grayFade':selectedNavPill!=2}" (click)="navPillSelection(2)">360 Videos</a></li>
            </ul>  

            <!-- common filter -->
            <div class="col-12 col-sm-12 col-md-12 col-xl-12 filter-options">
              <form [formGroup]="standardForm" (ngSubmit)="onSubmitCommonForm(standardForm.value)">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label>
                      <strong>
                        Find videos on NAS:
                      </strong>
                    </label>
                  </div>
                  <div class="col-auto">
                    <div class="form-group">
                      <label for="inputFromDate"><strong>From Date</strong></label>
                      <div class="input-group">
                        <input type="text" id="inputFromDate" placeholder="Select from date" class="form-control" formControlName="fromDate" [maxDate]="stdFromMaxDate? stdFromMaxDate : maxDate" bsDatepicker #stdFromDate="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" onkeydown="event.preventDefault()">
                        <span class="input-group-text" (click)="stdFromDate.toggle()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="form-group">
                      <label for="inputToDate"><strong>To Date</strong></label>
                      <div class="input-group">
                        <input type="text" id="inputToDate" placeholder="Select to date" class="form-control" formControlName="toDate" [maxDate]="maxDate" [minDate]="stdToMinDate" bsDatepicker #stdToDate="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" onkeydown="event.preventDefault()">
                        <span class="input-group-text" (click)="stdToDate.toggle()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary filter-btn" [disabled]="standardForm.status=='INVALID'">Filter</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="tab-content">
              <!-- standard -->
              <div class="tab-pane standard-videos" [ngClass]="{'active': selectedNavPill==1, 'fade': selectedNavPill!=1}">
                <!-- Filter Option -->
                <!-- <div class="col-12 col-sm-12 col-md-12 col-xl-12 filter-options">
                  <form class="row" [formGroup]="standardForm" (ngSubmit)="onStandard(standardForm.value)">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <label>
                          <strong>
                            Find standard videos on NAS:
                          </strong>
                        </label>
                      </div>
                      <div class="col-auto">
                        <div class="form-group">
                          <label for="inputFromDate"><strong>From Date</strong></label>
                          <div class="input-group">
                            <input type="text" id="inputFromDate" placeholder="Select from date" class="form-control" formControlName="fromDate" [maxDate]="stdFromMaxDate? stdFromMaxDate : maxDate" bsDatepicker #stdFromDate="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" onkeydown="event.preventDefault()">
                            <span class="input-group-text" (click)="stdFromDate.toggle()">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="form-group">
                          <label for="inputToDate"><strong>To Date</strong></label>
                          <div class="input-group">
                            <input type="text" id="inputToDate" placeholder="Select to date" class="form-control" formControlName="toDate" [maxDate]="maxDate" [minDate]="stdToMinDate" bsDatepicker #stdToDate="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" onkeydown="event.preventDefault()">
                            <span class="input-group-text" (click)="stdToDate.toggle()">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary filter-btn" [disabled]="standardForm.status=='INVALID'">Filter</button>
                      </div>
                    </div>
                  </form>
                </div> -->

                <!-- Error Message -->
                <div class="no-filter-result" *ngIf="noRecordsFoundFlag == true">
                  <div class="text-center justify-content-md-center no-records-found">
                    No Files Found!
                  </div>
                </div>

                <!-- Filter result -->
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 three-sixty-filter-result">
                  <div class="row">
                    <div class="col-6 video-alignment" *ngFor="let stdElement of standardVideoDetails; let i = index">
                      <div class="video">
                        <video width="550px" controls preload="metadata" data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 2, 3] }'>
                          <!-- https://vjs.zencdn.net/v/oceans.mp4#t=0.7  (mouseover)="showPreview(i, stdElement.video_link, stdElement.video_name)" #videoSrc + '#t=' -->
                          <source id="video{{i}}" src="{{ stdElement.video_link }}{{ stdElement.video_name + t }}" type="video/mp4" />

                          <source src="{{ stdElement.video_link }}{{ stdElement.video_name + t }}" type="video/mov" />

                          <source src="{{ stdElement.video_link }}{{ stdElement.video_name + t }}" type="video/mpeg" />
                          Browser not supported
                        </video>
                      </div>

                      <!-- Video title details img-fluid -->
                      <div class="video-description">
                        <div class="row">

                          <!-- <span class="col-1 video-img">
                            <img src="../../assets/images/bgImg.png" class="rounded-circle" alt="Cinque Terre" width="30" height="30">
                          </span> -->

                          <!-- Video name -->
                          <span class="col-8 text-truncate video-name" data-toggle="tooltip" data-placement="top" title="{{ stdElement.video_name }}"> 
                            {{ stdElement.video_name }}
                          </span>

                          <!-- Video file download option -->
                          <span class="col-1 video-download" data-toggle="tooltip" data-placement="top" title="Download Video" (click)="downloadStandardVideoFile(i)">
                            <i class="fa fa-download" aria-hidden="true"></i>
                          </span>

                          <!-- Video size -->
                          <span class="col-3 text-truncate video-size text-left" data-toggle="tooltip" data-placement="top" title="{{ stdElement.filesize }} kb"> <i class="fa fa-file-video-o" aria-hidden="true"></i>
                            {{ stdElement.filesize }} kb
                          </span>

                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col video-alignment">
                    <div class="video">
                      <video width="350px" controls>
                        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
                        Browser not supported
                      </video>
                    </div>
                  </div> -->

                </div>   
              
              </div>
              <!-- 360 -->
              <div class="tab-pane full-view-videos" [ngClass]="{'active': selectedNavPill==2, 'fade': selectedNavPill!=2}">
                <!-- Filter options -->
                <!-- <div class="col-12 col-sm-12 col-md-12 col-xl-12 filter-options">
                    <form [formGroup]="threeSixtyForm" (ngSubmit)="onThreeSixty(threeSixtyForm.value)">
                      <div class="form-row align-items-center">
                        <div class="col-auto">
                          <label>
                            <strong>
                              Find 360 videos on NAS:
                            </strong>
                          </label>
                        </div>
                        <div class="col-auto">
                          <div class="form-group">
                            <label for="inputFromDateTs"><strong>From Date</strong></label>
                            <div class="input-group">
                              <input type="text" id="inputFromDateTs" placeholder="Select from date" class="form-control" formControlName="tFromDate" [maxDate]="tsFromMaxDate? tsFromMaxDate : maxDate" bsDatepicker #threeFromDate="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" onkeydown="event.preventDefault()">
                              <span class="input-group-text" (click)="threeFromDate.toggle()">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="form-group">
                            <label for="inputToDateTs"><strong>To Date</strong></label>
                            <div class="input-group">
                              <input type="text" id="inputToDateTs" placeholder="Select to date" class="form-control" formControlName="tToDate" [maxDate]="maxDate" [minDate]="tsToMinDate" bsDatepicker #threeToDate="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" onkeydown="event.preventDefault()">
                              <span class="input-group-text" (click)="threeToDate.toggle()">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary filter-btn" [disabled]="threeSixtyForm.status=='INVALID'">Filter</button>
                        </div>
                      </div>
                    </form>
                </div> -->

                <!-- Error Message -->
                <div class="no-filter-result" *ngIf="tsNoRecordsFoundFlag == true">
                  <div class="text-center justify-content-md-center no-records-found">
                    No Files Found!
                  </div>
                </div>
                
                <!-- Filter result -->
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 three-sixty-filter-result">
                  <div class="row">
                    <div class="col-6 video-alignment" *ngFor="let tItems of tsVideoDetails; let i = index">
                      <div class="video">
                        <video width="550px" controls preload="metadata" data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 2, 3] }'>
                          <!-- https://vjs.zencdn.net/v/oceans.mp4 (mouseover)="showPreview(i)" -->
                          <source src="{{ tItems.video_link }}{{ tItems.video_name + t }}" type="video/mp4" />

                          <source src="{{ tItems.video_link }}{{ tItems.video_name + t }}" type="video/mov" />
                          
                          <source src="{{ tItems.video_link }}{{ tItems.video_name + t }}" type="video/mpeg" />
                          Browser not supported
                        </video>
                      </div>

                      <!-- Video title details img-fluid -->
                      <div class="video-description">
                        <div class="row">

                          <!-- <span class="col-1 video-img">
                            <img src="../../assets/images/bgImg.png" class="rounded-circle" alt="Cinque Terre" width="30" height="30">
                          </span> -->

                          <!-- Video Name -->
                          <span class="col-8 text-truncate video-name" data-toggle="tooltip" data-placement="top" title="{{ tItems.video_name }}"> 
                            {{ tItems.video_name }}
                          </span>

                          <!-- Video File Download Option -->
                          <span class="col-1 video-download" data-toggle="tooltip" data-placement="top" title="Download Video" (click)="download360VideoFile(i)">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <!-- <button class="btn btn-primary btn-sm">
                              </button> -->
                          </span>

                          <!-- Video Size -->
                          <span class="col-3 text-truncate video-size text-left"> <i class="fa fa-file-video-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ tItems.filesize }} kb"></i>
                            {{ tItems.filesize }} kb
                          </span>

                        </div>
                      </div>

                    </div>
                  </div>

                    <!-- <div class="col video-alignment">
                      <div class="video">
                        <video width="350px" controls>
                          <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
                          Browser not supported
                        </video>
                      </div>
                    </div> -->

                </div>   
                             
              </div>
            </div>
            
          </div>

        </div>
      </div>

    </div>
  </div>
  
</div>

<div class="msg-error" errorToast></div>
