.header {
    top: 0px;
    width: 100%;
    background-color: #004872;
    box-shadow: 0px 0px 6px 0px;
}

.header-title {
    margin-left: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: medium;
    font-size: 28px;
    padding: 20px 10px 20px 0px;
}

.landing-page {
    border-top: 1px solid lightslategray;
    position: relative !important;
    background: #fafbfc;
    margin: 0px 2% 0px 0px !important;
    box-shadow: 1px 1px 2px 0px;
}

.landing-page, .header {
    .nav-details {
        padding: 0px !important;
        ul {
            margin: 8px 0px 0px 8px;
            border-bottom-color: #004872;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #3f6ad8 !important;
            background-color: #fff !important;
            // border-color: #dee2e6 #dee2e6 #004872 !important;
            border-bottom: 3px solid #3f6ad8 !important;
            box-shadow: 0px 0px 2px 0px;            
        }
        .nav-tabs .nav-link {
            color: #ffffff !important;
            cursor: pointer !important;
        }
        .nav-tabs .nav-link {
            border: none !important;
        }
    }
    .setting-btn {
        margin-top: 7px;
        button {
            color: #ffffff !important;
        }
    }
}

.landing-page {
    .nav-details {
        .setting-options-details {
            position: absolute;
            z-index: 1;
            right: 4px;
            color: #ffffff;
            .card-body {
                background-color: #004872;
                padding: 10px !important;
            }
            .card-body:hover {
                background-color: #1c6988;
            }
            .setting-opts {
                list-style: none;
                margin: 0px;
                padding: 0px;
                cursor: pointer;
                li {
                    padding-bottom: 5px !important;
                }
            }
        }
        .tab-content {
            div {
               margin-left: 10px;
               margin-right: 10px;
               margin-bottom: 10px;
               height: auto !important;
                p {
                    padding-left: 15px;
                }
           }
           .web-app {
               .new-window-opts {
                   div {
                       margin: 0px !important;
                       padding: 0px !important;
                   }
               }
           }
           .file-progress {
               .refresh-opts {
                   .fa-refresh {
                       cursor: pointer;
                   }
                    div {
                        margin: 0px !important;
                        padding: 0px !important;
                    }
               }
           }
           .folder-structure {
               min-height: 510px !important;
               div {
                   margin: 10px;
               }
               .nav-pills {
                    cursor: pointer !important;
                    margin-top: 0px !important;
               }
               .filter-options {
                margin: 0px !important;
                background-color: #03a9f414;
                box-shadow: 0px 0px 1px 0px;
                border-radius: 3px;

                    .filter-btn {
                        margin-top: 28px;
                    }

                    .form-row {
                        .form-group {
                            .input-group {
                                margin: 0px !important;
                            }
                        }
                    }
                }

               .standard-videos, .full-view-videos {
                   margin: 0px !important;
                //    .filter-options {
                //         margin: 0px !important;
                //         background-color: #03a9f414;
                //         box-shadow: 0px 0px 1px 0px;
                //         border-radius: 3px;

                //         .filter-btn {
                //             margin-top: 28px;
                //         }

                //         .form-row {
                //             .form-group {
                //                 .input-group {
                //                     margin: 0px !important;
                //                 }
                //             }
                //         }
                //    }
                   .no-filter-result {
                       .no-records-found {
                           background-color: #ffffe0a6;
                           color: gray;
                       }
                   }
                   .three-sixty-filter-result {
                        .video-alignment {
                            // width: 350px !important;
                            padding: 0px !important;
                            display: inline-block;
                            margin: 0px !important;
                            // margin-bottom: 0px !important;

                            .video {
                                margin: 0px !important;
                            }
                            .video-description {
                                margin: 0px 0px 5px 0px;
                                .row {
                                    margin: 0px 0px 10px 0px !important;
                                }
                                .video-img {
                                    padding: 0px 2px 0px 2px !important;
                                }
                                .video-name{
                                    padding: 0px 8px 0px 5px !important;
                                    cursor: pointer;
                                }
                                .video-download {
                                    cursor: pointer;
                                }
                                .video-size {
                                    padding: 0px !important;
                                }
                            }
                        }
                   }                   
               }
           }
        }
    }
}
.grayFade {
    background: #d3d3d34d;
}
.error {
    color: red;
    font-size: 12px;
}
// Profile modal 
.profile-modal {
    .modal-header {
        background-color: #004872 !important;
        color: #ffffff !important;
        .close {
            color: #ffffff !important;
        }
    }
}